<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper

		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.bside.BSIDE.contents.persistence.QuestionMapper">


	<!-- 랜덤으로 1개의 질문 가져오기 -->
	<select id="getQuestion" resultType="com.bside.BSIDE.contents.domain.QuestionDto">
		SELECT Q.question
		FROM bside.question Q 
		LEFT OUTER JOIN bside.answer A ON Q.q_no = A.q_no
		WHERE A.q_no IS NULL
		ORDER BY RAND() LIMIT 1;
	</select>
			
			
	<!-- 질문 저장 -->
	<insert id="insertQuestion" parameterType="com.bside.BSIDE.contents.domain.QuestionDto">
		INSERT INTO
			bside.question(
			question,
			category,
			q_writer,
			created_at
		)
		VALUES(
				  #{question},
				  #{category},
				  #{q_writer},
				  now()
			  )
	</insert>
	
</mapper>